* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

h1 {
    text-align: center;
    margin-top: 30px;
}

/* Set the background color to 'Light gray' */
body {
    background-color: #ffffffff;
}


/* Add paddings to top-bottom left-right */
#main-container {
    padding: 5% 3%;
}


/* Set grid color */
#project-1 {
    background-color: #1dac00ff;
    color: #ffffff;
}

#project-2 {
    background-color: #444444ff;
    color: #ffffff;
}

#project-3 {
    background-color: #ff1c1cff;
    color: #ffffff;
}

#project-4 {
    background-color: #ffbf00ff;
    color: #ffffff;
}

#project-5 {
    background-color: #1dac00ff;
    color: #ffffff;
}

/*  
    Set spaces between items and padding inside. 
    Set border radius of all grids
    Set font size
    Set box shadow
*/
.grid-item {
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 7px;
    font-size: 13px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.grid-item p {
    opacity: 70%;
}


/* Styling the header, project name, and date */
.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 30px;
}

.header .project-name {
    opacity: 100%;
    font-size: 30px;
    margin-left: 40px;
}

.header .date {
    opacity: 100%;
    font-size: 20px;
    margin-left: 40px;
}

.header .header-txt {
    text-align: center;
}


/* Breaking point 576px */
@media (min-width: 576px) {
    #main-container {
        display: flex;
    }

    /* Margins */
    #main-container {
        max-width: 1200px;
        margin: 0 auto;
    }

    #project-1,
    #project-2,
    #project-3,
    #project-4 {
        margin-right: 20px;
    }

}