* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    margin-bottom: 20px;
}

/* Set the background color to 'Light gray' */
body {
    background-color: #ffffffff;
}


/* Add paddings to top-bottom left-right */
#main-container,
#below-container {
    padding: 1% 3%;
    
}

/* Set grid color */
#project-1,
#project-5 {
    background-color: #1dac00ff;
    color: #ffffff;
}

#project-2,
#project-6 {
    background-color: #444444ff;
    color: #ffffff;
}

#project-3,
#project-7 {
    background-color: #ff1c1cff;
    color: #ffffff;
}

#project-4,
#project-8 {
    background-color: #ffbf00ff;
    color: #ffffff;
}

/*  
    Set spaces between items and padding inside. 
    Set border radius of all grids
    Set font size
    Set box shadow
*/
.grid-item {
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 7px;
    font-size: 13px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.grid-item p {
    opacity: 70%;
}


/* Styling the header, project name, and date */
.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 30px;
}

.header .project-name {
    opacity: 100%;
    font-size: 30px;
    margin-left: 40px;
}

.header .header-txt {
    text-align: center;
}


/* Style the buttons */
/* Designing the button */
button {
    color: black;
    background-color: white;
    border: none;
    font-size: 0.7rem;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;

}

button:hover {
    cursor: pointer;
    /* background-color: #A9C42D; */
    transform: scale(1.08);
}


/* Breaking point 576px */
@media (min-width: 576px) {
   
    #main-container,
    #below-container {
        display: flex;
    }

    /* Margins */
    #main-container,
    #below-container {
        max-width: 1200px;
        margin: 0 auto;
    }

    #project-1,
    #project-2,
    #project-3,
    #project-4,
    #project-5,
    #project-6,
    #project-7,
    #project-8 {
        margin-right: 20px;
    }

}